{% extends 'perceptiontest/base.html' %}

{% block canvas %}
    {% load static %}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <canvas id="imageCanvas" width="800" height="600" style="border:1px solid #000000;">
            Your browser does not support the canvas element.
        </canvas>
    </div>
    {{ images|json_script:"images-data" }}
     <script>
        window.onload = function() {
            var images = JSON.parse('{{ images_json|safe }}');
            var canvas = document.getElementById('imageCanvas');
            var context = canvas.getContext('2d');

            images.forEach(function(img) {
                console.log(img)
                var imageObj = new Image();
                imageObj.onload = function() {
                    context.drawImage(imageObj, img.x_coordinate, img.y_coordinate, 70,70);
                };

                imageObj.src = '/static/' + img.image_url;
                console.log(imageObj.src);
            });
        };
    </script>
</div>
{% endblock canvas %}
