

{#<div class="container mt-5">#}
{#    <form class="center-form needs-validation" novalidate action="{% url 'start_test' %}" method="post" accept-charset="UTF-8">#}
{#        {% csrf_token %}#}
{#        <div class="form-group text-center">#}
{#            <label for="first_name">Vārds</label>#}
{#            <input type="text" class="form-control" id="first_name" name="first_name" required>#}
{#        </div>#}
{#        <div class="form-group text-center">#}
{#            <label for="age">Vecums</label>#}
{#            <input type="number" class="form-control" id="age" max="999" min="1" name="age" required>#}
{#        </div>#}
{#        <div class="form-group text-center">#}
{#            <label for="email">Epasts</label>#}
{#            <input type="email" class="form-control" id="email" name="email" required>#}
{#        </div>#}
{#        <div class="text-center">#}
{#            <button type="submit" class="btn btn-primary">Iesniegt</button>#}
{#        </div>#}
{#    </form>#}
{#</div>#}

{% extends 'perceptiontest/base.html' %}

{% block content %}
    <div class="container">
        <h2>Start Test</h2>
        <form method="post" action="{% url 'start_test' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Start Test</button>
        </form>
    </div>
{% endblock %}


{% block extra_js %}

    {#<script>#}
    {#    (function () {#}
    {#        'use strict';#}
    {#        window.addEventListener('load', function () {#}
    {#            let forms = document.getElementsByClassName('needs-validation');#}
    {#            let validation = Array.prototype.filter.call(forms, function (form) {#}
    {#                form.addEventListener('submit', function (event) {#}
    {#                    if (form.checkValidity() === false) {#}
    {#                        event.preventDefault();#}
    {#                        event.stopPropagation();#}
    {#                    }#}
    {#                    form.classList.add('was-validated');#}
    {#                }, false);#}
    {#            });#}
    {#        }, false);#}
    {#    })();#}
    {#</script>#}
{% endblock extra_js %}